<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <%- include('../includes/flashs.ejs') %>
    <%- include('../includes/errors.ejs') %>

    <form class="form-group login-form" action="/login" method="POST">

        <label for="email">E-Mail</label>
        <input class="form-control" type="email" name="email" id="email">

        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password">

        <a href="/reset" class="mr-4">Forgot password?</a>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</main>
<%- include('../includes/end.ejs') %>