<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <%- include('../includes/flashs.ejs') %>
    <%- include('../includes/errors.ejs') %>
    <form class="login-form" action="/new-password" method="POST">
        <div class="form-control">
            <label for="password">New password</label>
            <input type="password" name="password" id="password">
        </div>
        <input type="text" value="<%= token %>" name="token" hidden>
        <button class="btn" type="submit">Submit new password</button>
    </form>
</main>
<%- include('../includes/end.ejs') %>