<%- include('../includes/head.ejs') %>
</head>
<body>
<!-- navbar -->
<%- include('../includes/navbar.ejs',{isAuthenticated:isAuthenticated}) %>
<main class="m-5 row ">
    <% if (cart.length === 0)  { %>
        <h1>Your cart is empty, start shopping!</h1>
    <% } else { %>
            <% cart.forEach(item => { %>
                <div class="card col-4 text-center">
                    <img class="card-img-top" src="<%= item.imageURL %>"
                         height="180"
                         width="243" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= item.productId.name %></h5>
                        <p class="card-text"><%= item.productId.description %></p>
                        <p class="card-text"><%= item.productId.price %> $</p>
                        <p class="card-text">Quantity : <%= item.quantity %> </p>
                        <form action="/cart/deleteProduct" method="POST">
                            <button class="btn btn-danger" type="submit" name="deleteCartProduct">Delete</button>
                            <input type="hidden" name="productID" value="<%= item.productId._id %>">
                        </form>
                    </div>
                </div>
        </div>
    <% } )} %>
</main>
<%- include('../includes/end.ejs') %>