<%- include('../includes/head.ejs') %>
</head>

<body style="height: 100%">
<!-- navbar -->
<%- include('../includes/navbar.ejs') %>

<main class="m-5 container">
    <% if (products.length > 0) { %>
        <h1 class="row mb-5 ">Available products : </h1>
        <div class="row ">
            <% products.forEach(product => { %>
                <div class="card col-4 text-center">
                    <img class="card-img-top" src="<%= product.imageURL %>"
                         height="180"
                         width="243" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text"><%= product.description %></p>
                        <p class="card-text"><%= product.price %> $</p>
                        <div class="d-flex justify-content-around">
                            <a href="/products/<%= product._id %>" class="btn btn-danger">Details</a>
                            <form action="/addToCart" method="POST">
                                <button type="submit" class="btn btn-danger">Add to cart</button>
                                <input type="hidden" name="productID" value="<%= product._id %>">
                                <input type="hidden" name="price" value="<%= product.price %>">
                            </form>
                        </div>

                    </div>
                </div>
            <% }); %>
        </div>

    <% } else { %>
        <h1>Unfortunately we don't have products yet...</h1>
        <p>Come back later</p>
    <% } %>
</main>

<%- include('../includes/end.ejs') %>